<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="css/squelette.css" media="all"/>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" media="all"/>
        <script src="javascript/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script src="javascript/headlessbrowser.js"></script>

    </head>
    <body>

        <div id='title'><h1>Automation</h1>
            <div id="menu">
                <button id='save' onClick='save()'>Save</button><input id='savename' value="name"/>
                <button id='load' onClick='emitLoadCommand()'>Load</button><select id='loadselect'></select>
             <button id='execute' onClick='execute()'>Executer</button></div>
                

        
             <p id="errormessage"></p>
        </div>
        <div id="container">
            <div class="list_function">
                <h2> Liste des fonctions </h2>
            </div>
            
            <div class="constructor">
                <h2> Automation liste </h2>
            </div>
            <div class="variables">
                <h2> Liste des variables </h2>
                <div class="liste_variables">
                    
                    <button class="buttonvariables" onclick="addVariableString()">string/int</button>
                    <button class="buttonvariables" onclick="addVariableImage()">image</button>
                </div>
                <h2> Vos variables </h2>
                <div class="vos_variables">
                   
                </div>
                
            </div>
        </div>
        



    </body>
</html>