/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 oct. 2016, 15:54:34
    Author     : charly
*/

#title {
    width: 100%;
}

#container {
    width: 100%;
    text-align: center;
}

.fa {
    margin-right: 20px;
}

#produits span img {
    width: 100%;
}

.site {
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
}

.site img {
    width: 100%;
    margin-bottom: 20px;
     margin-top: 20px;
}

.product {
    border: 1px solid;
    width: 24%;
    margin: 1%;
    float: left;
    padding: 10px;
}

.product input {
    width: 100%;
    margin: 5px;
}

.product textarea{
    max-width: 100%;
        margin: 5px;
    
}

#produits {
    width: 80%;
    float: left;
     text-align: center;
}

#site {
    width: 20%;
    float: left;
     text-align: center;
}