/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 sept. 2016, 11:26:03
    Author     : charly
*/

.list_function {
    width: 20%;
    float: left;
    text-align:center;
}

.variables {
    width: 20%;
    float:left;
    text-align:center;
}

.string {
   
}

.vos_variables div{
     border: 1px solid;
     padding: 3px;
     margin-bottom: 10px;
}

.buttonvariables {
    width: 100%;
}

.blockfunction {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid;
}


.button {
    cursor: pointer;
}

.constructor p {

    text-align:center;
}
.constructor {
    width: 60%;
    float: left;
    text-align:center;
    
}

.buttonfunction {
    width: 95%;
}



