/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 sept. 2016, 11:26:03
    Author     : charly
*/

.list_function {
    width: 20%;
    
    text-align:center;
     position: fixed;
    top: 100px;
}

#loadselect {
    width: 150px;
}

.variables {
    width: 20%;
    float:left;
    text-align:center;
}

#title h1 {
    display: inline-block;
}

#menu {
    display: inline-block;
    float: right;
}

.variables img {
    width: 100%;
}

.string {
   
}

.vos_variables div{
     border: 1px solid;
     padding: 3px;
     margin-bottom: 10px;
}

.buttonvariables {
    width: 100%;
}

.blockfunction {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid;
}


.button {
    cursor: pointer;
  
}

.menubloc {
    float:right;
}

#errormessage {
    background-color: red;
    
}

.indication {
    float: left;
    display: none;
}

.constructor p {

    text-align:center;
    
}
.constructor {
    width: 60%;
    margin-left: 20%;
    float: left;
    text-align:center;
    
}

.buttonfunction {
    width: 95%;
}



